@model IEnumerable<OnlineLearningPortal.Models.Instructor>

<h2>Instructors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Back", "Index", "Admin")
</p>

<form method="get" action="@Url.Action("Index")">
    <input type="text" name="searchQuery" value="@Request.QueryString["searchQuery"]" placeholder="Search by Name, Email, or Office" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@Html.Partial("_InstructorList", Model)