@model OnlineLearningPortal.Models.Course

<h2>Course Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
        <dt>@Html.DisplayNameFor(model => model.TimeSlot)</dt>
        <dd>@Html.DisplayFor(model => model.TimeSlot)</dd>
        <dt>@Html.DisplayNameFor(model => model.Instructor.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Instructor.Name)</dd>
        <dt>Course Image</dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="@Url.Content(Model.ImagePath)" alt="Course Image" style="width: 200px; height: auto;" />
            }
            else
            {
                <span>No Image</span>
            }
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>